*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Raleway', sans-serif;

}

#all{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    border: 1px solid black;
    
    height: 90px;
    background-color: black;
    color:white;
    
    text-align: center;
    padding-top: 20px;
}

#pc{
    border: 1px solid white;
    background-color: black;
    
    height: 40px;
    margin: 4px 0px;
      
    
}

#pc a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 9px 10px;
    width: 130px;
    
    display: inline-block;
    
    text-align: center;
}

#pc a:hover{
    background: white;
    color: black;
}

#mobil{
    background-color: black;
    height: 60px;
    
    color: white;
    
    display: none;
}

#mobil i{
    padding: 12px;
}

#mobil h1{
    width: 80%;
    display: inline-block;    
    text-align: center;
}


#mobil_menu{
    
    width: 60%;
    height: 100%;
    
    background-color: white;
    
    display: inline-block;
    position: absolute;
    
    padding: 1px;
    
    left: -100%;
    
}


#dades{
    width: 100%;
    height: 35%;
    
    background-color: black;
    
    padding-top: 15%;
    
}

#dades h3{
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    
    text-align: center;
    
    
    
}

#foto_perfil{
    background-image: url(../imatges/florencia3_mini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100px;
    height: 100px;
    border-radius: 80px;
    border: 2px solid white;
    
    margin-left: 30%;
}

#mobil_menu a{
    width: 100%;
    display: block;
    
    border: 1px solid darkgrey;
    padding: 10px;
    
    text-decoration: none;
    color: black;
}

#mobil_menu i {
    margin-right: 10px;
}



#catalonia, #paris, #london, #florencia{
    border: 1px solid darkgrey;
    
    margin-bottom: 20px;
}


#catalonia article{
    width: 235px;
    
    margin: 8px;
    
    display: inline-block;

    
}

#catalonia article img, #paris article img, #london article img, #florencia article img{
    width: 100%;
    
    padding: 8px;
    border: 1px solid darkgrey;
    
    border-radius: 8px;
}


#catalonia h4, #paris h4, #london h4, #florencia h4{
    color: darkgrey;
    padding: 2px 4px;
}


#catalonia h3, #paris h3, #london h3, #florencia h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    padding: 5px 10px;    
}

#catalonia h2, #paris h2, #london h2, #florencia h2{
    color: red;
    padding-left: 5px;
}


#paris article, #london article, #florencia article{
    width: 320px;
    display: inline-block;
    
    margin: 8px;
}

#paris h3{
    background-color: #826FEC;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    margin-bottom: 5px;
    text-shadow: 2px 1px 2px #008;
}

#london h3{
    background-color: #E6043D;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    margin-bottom: 5px;
    text-shadow: 2px 1px 2px #008;
}

#florencia h3{
    background-color: #0EB852;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    margin-bottom: 5px;
    text-shadow: 2px 1px 2px #008;
}


footer{
    background: black;
    color: white;
    font-size: 15px;
    
    text-align: center;
}



/***************************/
/***** *MEDIA QUERIES* ****/
/*************************/

/***** Mòbil *****/

@media screen and (max-width: 600px) {
    
    header{
        display: none;
    }
    
    #catalonia article{
        width: 100%;
        margin-left: 0px;
        margin: 0 auto;
    }
    
    #catalonia article img{
         padding: 5px;
    }
    
    article p{
        padding: 5px;
        
        line-height: 1.5;
        
        
        height: 80px;
        
        overflow: hidden;
        
        display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient:vertical;
        
        text-overflow: ellipsis;
    }
    
    #pc{
        display: none;
    }
    
    #mobil{
        display: block;
    }
    
    #catalonia h2{
        font-size: 40px;
        
        padding: 20px;
    }
    
     #paris h2, #london h2, #florencia h2{
        font-size: 30px;
        
        padding: 15px;
    }
    
    h4{
        display: none;
    }
    
    #catalonia h3, #paris h3, #london h3, #florencia h3{
        font-size: 30px;
        
         padding: 20px;
    }
    
}
/***** Mòbil *****/

@media screen and (min-width:600px) and (max-width: 1000px) {

    #catalonia article,#florencia article, #london article, #paris article{
        width: 43%;
        margin: 20px;
        
    }
    
    article{
        
    }
    
    #florencia .gran,#paris .gran, #london .gran{
        width: 95%;
        margin-left: 15px;    
    
    }
    
    

}




















